{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}KU Lead Manager{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>

    <div class="app">

        <aside class="sidebar">
            <div class="brand">
                <img src="{% static 'core/images/logo.png' %}" alt="Logo" class="brand-logo" height="48px" width="48px">
                <span>Kathmandu<br><small>UNIVERSITY</small></span>
            </div>

            <nav>
                <a href="{% url 'dashboard' %}" class="{% if request.path == '/dashboard/' %}active{% endif %}">
                    Dashboard
                </a>
                <a href="{% url 'leads' %}" class="{% if request.path == '/leads/' %}active{% endif %}"> Leads</a>
                <a href="{% url 'applications' %}" class="{% if request.path == '/applications/' %}active{% endif %}">
                    Applications</a>
                <a href="{% url 'exams' %}" class="{% if request.path == '/exams/' %}active{% endif %}"> Exams</a>
                <a href="{% url 'finance' %}" class="{% if request.path == '/finance/' %}active{% endif %}"> Finance</a>
                <a href="{% url 'settings' %}" class="{% if request.path == '/settings/' %}active{% endif %}">
                    Settings</a>
            </nav>

            <div class="user-box">
                <strong>{{ request.user.username|default:'Admin User' }}</strong>
                <small>admin@ku.edu.np</small>
            </div>
        </aside>

        <main class="main">

            <header class="topbar">
                {% if request.resolver_match.url_name == 'leads' %}
                <form method="get" action="{% url 'leads' %}" class="topbar-search-form">
                    <input type="text" name="q" value="{{ query|default:'' }}"
                        placeholder="Search by name, email, program, or status" autocomplete="off">
                    <button type="submit" class="topbar-search-btn">Search</button>
                </form>
                {% else %}
                <input type="text" placeholder="Search students, leads, or applications">
                {% endif %}
                <div class="top-actions">
                    <span>🔔</span>
                    <span>View notifications</span>
                    <a href="{% url 'settings' %}">Open user menu</a>
                </div>
            </header>

            <section class="page">
                {% block content %}{% endblock %}
            </section>

        </main>

    </div>

{% block extra_js %}{% endblock %}
</body>

</html>